<div class="rcp"><h1>Recipes</h1></div>

<div>
  <div class="linkto"><%= link_to "new recipe", new_recipe_path %></div>
  <% @recipes.each do |recipe| %>
   
    <div class="recipes">
    <div>
      <p><%= link_to recipe.name, recipe %></p>
      <span class="border-less"><%= button_to "Delete", recipe, method: :delete %></span><br>
    
    </div>
    <div>
      <p>
      <%=recipe.description %>
      </p>
    </div>
    </div>
    <p>
    </p>
  <% end %>
</div>

