<p style="color: green"><%= notice %></p>

<h1>Recipes</h1>

<div>
  <div><%= link_to "new recipe", new_recipe_path %></div>
  <% @recipes.each do |recipe| %>
   
    <div class="recipes">
    <div>
      <p><%=recipe.name %></p>
      <p>remove</p>
    </div>
    <div>
      <p>
      <%=recipe.description %>
      </p>
    </div>
    </div>
    <p>
    </p>
  <% end %>
</div>

