<div class='d flex  justify-content end'>
  <button class = 'btn bg-dark '> add </button>
</div>

<table class=table table-bordered border-primary">
  <thead>
    <tr>
      <th scope="col">food</th>
      <th scope="col">Measurements</th>
      <th scope="col">Units</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
   <% @foods.each do |food| %>
    <tr>
      <td><%=food.name %></td>
      <td><%=food.measurement_unit%></td>
      <td><%= food.price %></td>
      <td>delete</td>
    </tr>
  <% end %>
  </tbody>
</table>