body {
  overflow-x: hidden;
}

.gradient-custom-2 {
  background: #fccb90;
  background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

@media (min-width: 768px) {
  .gradient-form {
    height: 100vh !important;
  }
}

@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
  }
}

.recipes {
  border: 1px solid black;
  margin: 50px;
  padding: 50px;
  display: flex;
  flex-direction: row;
  gap: 200px;
}

.button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 50px;
}

.table {
  padding: 20px;
}

.text-center {
  display: flex;
  text-align: center;
  justify-content: end;
}

.link {
  display: flex;
  justify-content: end;
  padding-top: 22px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.public-toggle {
  margin-left: 340px;
  font-size: larger;
  font-weight: bold;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: green;
}

input:focus + .slider {
  box-shadow: 0 0 1px green;
}

input:checked + .slider::before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round::before {
  border-radius: 50%;
}

.container1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20%;
}

.tx {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-bottom: 20px;
  width: 60%;
}

.receipe {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  padding: 30px;
}

.desc {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  padding: 30px;
}

.rcp {
  display: flex;
  justify-content: center;
}

.linkto {
  padding-left: 50px;
}

.heading {
  text-align: center;
}

.newbtn {
  margin-left: 50px;
}
